site_name: Bruce  Wiki
repo_url: https://github.com/BruceDevices/firmware
repo_name: GitHub

docs_dir: docs
site_dir: site
site_url: https://wiki.bruce.computer
use_directory_urls: true

theme:
  name: material
  palette:
    - scheme: slate
      primary: bruce
      accent: bruce

extra:
  generator: false

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
  - search

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - toc:
      permalink: "#"
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg